<!DOCTYPE html>
{% extends 'base.html'%}
{%block navbar%}
<html>
<head>
	<title></title>
</head>
<body>
	{{ super() }}

	<div class="col-md-4 offset-md-4">
	<form action='' method='POST'>
	{{form.csrf_token}}
  	<div class="form-group">
    <label for="exampleFormControlInput1">Título</label>
    {{form.title(class='form-control', placeholder='Digite o título do post')}}
  	</div>
  	<div class="form-group">
    <label for="exampleFormControlSelect1">Categoria</label>
    {{form.categoria(class='form-control')}}

  	</div>
  	<div class="form-group">
    <label for="exampleFormControlSelect2">Subcategoria</label>
    {{form.subcategoria(class='form-control')}}
  	</div>

  	<div class="form-group">
    <label for="exampleFormControlTextarea1">Post</label>
    {{form.content(class='form-control',rows='5')}}
  	</div>
  	<button type="submit" class="btn btn-primary">Submit</button> </form>
	</form>
	</div>
{% endblock %}
</body>
</html>
