{% extends 'base.html'%}
{%block alert%}
{{ super() }}



      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
           
              <h2 class="subheading">{{ categoria }}</h2>
              <span class="meta">Posted by
                {{  }}
                            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
        
          </div>
        </div>
      </div>
    </article>

  {% endblock %}